{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Product{% endblock %}</h1>
{% if g.user %}
  <a class="action" href="{{ url_for('admin.createproduct') }}">New</a>
{% endif %}{% endblock %}

{% block content %}
<article class="product">
  <header>
    <div>
      <h1>{{ product.productName }}</h1>
      <div class="about">by {{ product.author.username }} on {{ product.created.strftime('%Y-%m-%d') }}</div>
    </div>
    {% if g.user['id'] == product.author_id %}
      <a class="action" href="{{ url_for('admin.updateproduct', id=product['id']) }}">Edit</a>
    {% endif %}
  </header>
</article>
<hr>
<a class="action" href="{{ url_for('inventory.index') }}">Home</a>

{% endblock %}
